body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #282c35;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1e2229;
}

nav {
    float: left;
    width: 30%;
    padding: 20px;
    background-color: #2f353e;
}

section {
    float: left;
    width: 60%;
    padding: 20px;
    background-color: #2f353e;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #1e2229;
}

a {
    text-decoration: none;
    color: #61dafb;
    margin-bottom: 10px;
}

a:hover {
    color: #a7d8ff;
}

.wroom-wroom-highlight {
    outline: 1px solid orange;
    outline-offset: 1px;
}
